/* 增加博客的管理页面 */
.add-blog-body,
.add-article-intro,
.add-article-date,
.introduce-html,
.date-publish,
.date-modify {
    margin-top: 20px;
}

.tempSave-article {
    margin-right: 20px;
}

.markdown-content {
    font-size:16px !important;
    max-height: 715px;
}

.show-html {
    padding:10px;
    border:1px solid #ddd;
    border-radius: 5px;
    font-size:16px;
    height: 715px;
    background-color: #f0f0f0;
    overflow: auto;
}

.show-html h1 {
    font-size:30px;
}

.show-html h2 {
    font-size:28px;
    border-bottom: 1px solid #cbcbcb;
}

.show-html h3 {
    font-size:24px;
}

.show-html pre,
.introduce-html pre {
    display: block;
    background-color: #f3f3f3;
    padding: 5px !important;
    overflow-y: auto;
    font-weight: 300;
    font-family: Menlo, monospace;
    line-height: 22.5px;
    border-radius: 10px;
    background-color: #283646 !important;
}

.show-html pre>code,
.introduce-html pre>code {
    border: 0 !important;
    background-color: #283646 !important;
    color: #ffffff;
}

.show-html code,
.introduce-html code {
    display: inline-block;
    background-color:#f3f3f3;
    padding: 5px 10px;
    border: 1px solid #fdb9cc;
    border-radius: 5px;
    font-size: 14px;
    margin: 0px 3px; 
    color: #4f4f4f;
}

.show-html blockquote {
    border-left:4px solid #cbcbcb ;
    padding: 10px 10px 10px 30px; 
    background-color: #f8f8f8;
}

.show-html img {
    width: 100%;
}

.introduce-html {
    height: 200px;
    padding:10px;
    border:1px solid #ddd;
    border-radius: 5px;
    font-size:16px;
    background-color: #f0f0f0;
    overflow: auto;
}

.introduce-html h1 {
    font-size:30px;
}

.introduce-html h2 {
    font-size:28px;
    border-bottom: 1px solid #cbcbcb;
}

.introduce-html h3 {
    font-size:24px;
}

.introduce-html blockquote {
    border-left:4px solid #cbcbcb ;
    padding: 10px 10px 10px 30px; 
    background-color: #f8f8f8;
}

.date-select {
    margin-top:10px;
}
